---
import LandingPageScroll from "./LandingPageScroll.vue";
import LandingPageCursor from "./LandingPageCursor.jsx";
---

<div>
    <LandingPageScroll client:only="vue" />
    <LandingPageCursor client:only="react" />
</div>
