.main {
  margin: 0 8vw;
  margin-top: 50px; //compensating for the TitleSection
}
.project {
  padding-bottom: 70px;
}
.projectGrid {
  display: grid;
  grid-template-columns: auto 7vw;
  column-gap: 60px;
}
.projectTitle {
  display: inline-grid;
  writing-mode: vertical-rl;
  font-size: 6vw;
  color: rgb(42, 42, 42);
  margin: 0px 0px;
  place-items: center;
}
