.main {
  margin: 0 8vw;
  padding-top: 100px; //compensating for the TitleSection
}
.ex {
  padding-bottom: 70px;
}
.exGrid {
  display: grid;
  grid-template-columns: 7vw auto;

  // column-gap: 60px;
}
.exTitle {
  display: inline-grid;
  writing-mode: vertical-rl;
  font-size: 6vw;
  color: rgb(42, 42, 42);
  margin: 0px 0px;
  place-items: center;
}

.exContent {
  display: grid;
  margin-top: 15px;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  column-gap: 50px !important;
  row-gap: 50px !important;
  // justify-content: center;
  // place-items: center;
}

.exDescTitle {
  font-size: 2.5vw;
  font-weight: 500;
  margin: 20px;
  text-align: center;
}

.currentImg {
  width: 30vw;
  height: 30vw;
  margin: auto;
  // border-radius: 25px;
}

.currentDesc {
  margin-top: 25px;
  text-align: center;
  font-size: 1.3vw;
}

@media (max-width: 630px) {
  .exTitle {
    top: 45%;
    position: sticky;
    align-self: flex-start;
    transform: translateX(-4vw);
  }
  .currentDesc {
    font-size: 14px;
  }
  .exContent {
    grid-template-rows: auto !important;
    grid-template-columns: auto !important;
    transform: translateX(-2vw);
  }
  .exDescTitle {
    font-size: 6vw;
    text-align: center;
  }
  .currentImg {
    margin-top: 20px;
    transform: translateX(2vw);
    width: 60vw;
    height: 60vw;
  }
}
