---
import Layout from "../layouts/Layout.astro";
import TitleSection from "../components/Home/TitleSection.vue";
import ScrollAnim from "../components/Base/ScrollAnim.vue";
import MainContent from "../components/Home/MainContent.jsx";
---

<Layout title="Welcome!">
	<main>
		<div>
			<TitleSection client:only="vue" />
		</div>
		<div>
			<ScrollAnim client:only="vue" />
		</div>
		<div style="padding-top: 1200px">
			<MainContent />
		</div>
	</main>
</Layout>
