---
import Layout from "../layouts/Layout.astro";
import HomePageView from "../components/Home/HomePageView.astro";
---

<Layout title="Paarth's Portfolio">
  <main>
    <HomePageView />
  </main>
</Layout>

<script>
  console.log(
    `

  _   _      _ _       _
 | | | | ___| | | ___ | |
 | |_| |/ _ \\ | |/ _ \\| |
 |  _  |  __/ | | (_) |_|
 |_| |_|\\___|_|_|\\___/(_)


`
  );
</script>;
