---
import Layout from "../layouts/Layout.astro";
import HomePageView from "../components/Home/HomePageView.astro";
console.log();
---

<Layout title="Paarth's Portfolio">
	<main>
		<HomePageView />
	</main>
</Layout>
