<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            http-equiv="refresh"
            content="0;url=https://drive.google.com/file/d/1ODrk9vuEtf6W_lYoNMB9TcO-ht1E-AIY/view?usp=sharing"
        />
        <title>Redirecting...</title>
    </head>
    <body> Redirecting to PDF Resume</body>
</html>
