---
const resumeUrl =
  "https://drive.google.com/file/d/1qM-4DMI6cEaA5wdP51r5SkjlNyOGrlbL/view?usp=sharing";
---

<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2PWJ5Z5RY1"
    ></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-2PWJ5Z5RY1");
    </script>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content=`0;url=${resumeUrl}` />
    <title>Redirecting to PDF</title>
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "hui597fchn");
    </script>
  </head>
  <body>
    <p>
      Redirecting to the PDF version of my Resume. If it doesn't open
      automatically please <a href={resumeUrl}>click here</a>
    </p>
  </body>
</html>
