---
import AboutSection from "../AboutSection/AboutSection.jsx";
import LandingPage from "../LandingPage/LandingPage.astro";
import ProjectsSection from "../ProjectsSection/ProjectsSection.jsx";
import Experiences from "../Experiences/Experiences.jsx";
import Footer from "../Footer/Footer.vue";
---

<div>
    <LandingPage />

    <div style="height: 1300px;"></div>

    <AboutSection />

    <ProjectsSection />

    <Experiences />

    <Footer />
</div>
