---
import AboutSection from "../AboutSection/AboutSection.jsx";
import LandingPage from "../LandingPage/LandingPage.astro";
import ProjectsSection from "../ProjectsSection/ProjectsSection.jsx";
import Experiences from "../Experiences/Experiences.jsx";
import Countries from "../Countries/Countries.astro";
import Education from "../Base/Education/Education.astro";
import Footer from "../Footer/Footer.vue";
---

<div>
  <LandingPage />

  <div style="height: 1300px;"></div>

  <AboutSection client:visible />

  <ProjectsSection />

  <Experiences />

  <Countries />

  <Education />

  <Footer />
</div>
