---
import AboutSection from "../AboutSection/AboutSection";
import LandingPage from "../LandingPage/LandingPage.astro";
import ProjectsSection from "../ProjectsSection/ProjectsSection";
import AwardsSection from "../AwardsSection/AwardsSection";
---

<div>
    <LandingPage />

    <div style="height: 1300px;"></div>

    <AboutSection />

    <ProjectsSection />

    <AwardsSection />
</div>
