---
import AboutSection from "../AboutSection/AboutSection";
import LandingPage from "../LandingPage/LandingPage.astro";
import ProjectsSection from "../ProjectsSection/ProjectsSection";
---

<div>
    <div>
        <LandingPage />
    </div>
    <div>
        <AboutSection />
    </div>
    <div>
        <ProjectsSection />
    </div>
</div>
