---
import AboutSection from "../AboutSection/AboutSection";
import LandingPage from "../LandingPage/LandingPage.astro";
import ProjectsSection from "../ProjectsSection/ProjectsSection";
---

<div>
    <div>
        <LandingPage />
    </div>
    <div style="height: 1300px;"></div>
    <div>
        <AboutSection />
    </div>
    <div>
        <ProjectsSection />
    </div>
    <div style="height: 1000px;"></div>
</div>
