---
import HomePage from "./HomePageContent.jsx";
import TitleSection from "./TitleSection.vue";
---

<div>
    <div>
        <TitleSection client:only="vue" />
    </div>
    <div>
        <HomePage />
    </div>
</div>
