.main {
  margin: 0 8vw;
}
.about {
  padding-bottom: 70px;
}
.aboutGrid {
  display: grid;
  grid-template-columns: 6vw auto;
  column-gap: 60px;
}
.aboutTitle {
  display: inline-grid;
  writing-mode: vertical-rl;
  font-size: 6vw;
  color: rgb(42, 42, 42);
}
.aboutContent {
  display: inline-grid;
}

.aboutContentGrid {
  display: grid;
  grid-template-columns: auto 35vw;
}
.meDesc {
  display: inline-grid;
}
.meImgContainer {
  display: inline-grid;
}
.meImgContainer:hover .meImg {
  transition: transform 0.2s;
  transform: translateX(-13px) translateY(-13px);
}
.meImgContainer:hover .meImgShadow {
  transition: transform 0.2s;
  transform: scale(1.02);
}
.meImg {
  width: 35vw;
  position: absolute;
  border-radius: 25px;
  z-index: 9;
  transition: transform 0.2s;
}
.meImgShadow {
  width: 35vw;
  height: 35vw;
  border-radius: 25px;
  background-color: rgb(30, 29, 29);
  z-index: 8;
  transition: transform 0.2s;
  pointer-events: none;
}

.meDescTitle {
  font-size: 30px;
  font-weight: 500;
}
