---
import Dubai from "./Dubai/Dubai.jsx";
import Singapore from "./Singapore/Singapore.jsx";
---

<div class="CountriesGrid" id="countries">
  <div class="CountriesInfo">
    <Dubai client:visible />
    <Singapore client:visible />
  </div>
  <div class="CountriesTitle">
    <span>Countries</span>
  </div>
</div>

<style lang="scss">
  .CountriesGrid {
    display: grid;
    grid-template-columns: auto 40px;
    margin-right: 8vw;
  }
  .CountriesTitle {
    display: inline-grid;
    writing-mode: vertical-rl;
    font-size: 6vw;
    color: rgb(42, 42, 42);
    margin: 0px 0px;
    place-items: center;
    top: 30%;
    position: sticky;
    align-self: flex-start;
  }
  @media (max-width: 630px) {
    .CountriesTitle {
      top: 45%;
      transform: translateX(8vw);
    }
    .CountriesInfo {
      transform: translateX(5%);
    }
  }
</style>
