.main {
  margin: 0 8vw;
  padding-top: 150px; //compensating for the TitleSection
}
.about {
  padding-bottom: 70px;
}
.aboutGrid {
  display: grid;
  grid-template-columns: 7vw auto;
  column-gap: 2vw;
}
.aboutTitle {
  display: inline-grid;
  writing-mode: vertical-rl;
  font-size: 6vw;
  color: rgb(42, 42, 42);
  margin: 0px 0px;
  place-items: center;
}
.aboutContent {
  display: inline-grid;
}

.aboutContentGrid {
  display: grid;
  grid-template-columns: auto 35vw;
  column-gap: 40px;
  color: #6a738f;
}
.meDesc {
  display: inline-grid;
  margin: auto;
}
.meImgContainer {
  display: inline-grid;
  margin: auto;
  width: 35vw;
  height: 35vw;
}

.meDescTitle {
  font-size: 3vw;
  font-weight: 500;
  margin: 20px;
}

.meDescText {
  font-size: 1.3vw;
  // padding-left: 20px;
  color: rgb(62, 62, 62);
}
@media (max-width: 630px) {
  .aboutTitle {
    position: sticky;
    top: 45%;
    align-self: flex-start;
  }
  .aboutContentGrid {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .meDescTitle {
    font-size: 6vw;
    text-align: center;
  }

  .meDesc {
    margin-left: 20px;
  }

  .meImgContainer {
    margin-top: 20px;
    transform: translateX(2vw);
    width: 60vw;
    height: 60vw;
  }

  .meDescText {
    font-size: 14px;
    text-align: center;
  }
  .aboutGrid {
    column-gap: 0px;
    transform: translateX(-4vw);
  }
}
