---
import NavBar from "../components/Nav/Bar.vue";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Paarth is a 17-year-old tech enthusiast from Singapore and India, and he's passionate about web development and data science. Currently studying at North London Collegiate School in Dubai, he brings creativity, curiosity, and a keen eye for innovation to every project. Explore his journey and insights!"
    />
    <meta
      property="og:description"
      content="Paarth is a 17-year-old tech enthusiast from Singapore and India, and he's passionate about web development and data science. Currently studying at North London Collegiate School in Dubai, he brings creativity, curiosity, and a keen eye for innovation to every project. Explore his journey and insights!"
    />
    <meta property="og:title" content="Paarth's Portfolio" />
    <meta property="og:site_name" content="Paarth's Portfolio" />
    <meta property="og:url" content="https://www.paarthk.dev/" />
    <meta property="og:type" content="profile" />
    <meta
      property="og:image"
      content="https://cdn.paarthk.dev/?url=www.paarthk.dev/paarth-k-og-image.png&w=1000"
    />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="647" />
    <link rel="canonical" href="https://www.paarthk.dev/" />
    <meta property="og:image:alt" content="Paarth's Portfolio site logo" />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "ProfilePage",
        "mainEntity": {
          "@type": "person",
          "name": "Paarth Kukreja",
          "jobTitle": "Web Developer & Data Scientist",
          "url": "https://www.paarthk.dev/",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Dubai",
            "addressCountry": "United Arab Emirates"
          },
          "email": "paarth@paarthkukreja.com"
        }
      }
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <meta name="msvalidate.01" content="622A45E977551F2CE287EF2B1BDE1067" />
    <!-- Google Tag Manager -->
    <script type="text/javascript">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WGKZ74WD");
    </script>
    <!-- End Google Tag Manager -->

    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      href="/icons/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Paarth" />
    <link rel="manifest" href="/icons/site.webmanifest" />
    <link rel="preconnect" href="https://www.clarity.ms" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "hui597fchn");
    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WGKZ74WD"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <div>
      <NavBar />
    </div>
    <slot />
  </body>
</html>
<style is:global lang="scss">
  // @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");
  // @import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&display=swap");
  :root {
    --background-rbg: 247, 253, 249;
    --background: #f7fdf9;
    --primary: #3299cd;
    --secondary: #ff5900;
    --text-col: #0b181e;
    --accent: #84e1d2;
  }
  ::-moz-selection {
    /* Code for Firefox */
    color: var(--background);
    background: var(--secondary);
  }

  ::selection {
    color: var(--background);
    background: var(--secondary);
  }
  html,
  body {
    height: 100%;
    padding: 0;
    margin: 0;

    scroll-behavior: smooth;
  }

  body {
    background-color: var(--background);
    margin: 0 !important;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  div {
    font-family: "DM Sans", sans-serif;
    color: var(--text-col);
    // font-optical-sizing: none;
  }
</style>
