.navLinkContainer {
  display: inline-block;
  height: 100%;
  list-style-type: none;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid #1e1d1d;
  box-shadow: 0px 0px 0px #1e1d1d;
  transition:
    box-shadow 0.1s,
    transform 0.1s;
}

.navLinkContainer:hover {
  box-shadow: 4px 4px 0px #1e1d1d;
  transform: translate(-2px, -2px);
}

.forcedHoverContainer {
  box-shadow: 4px 4px 0px #1e1d1d;
  transform: translate(-2px, -2px);
}

.navLinkContainer:active {
  transition:
    box-shadow 0.05s,
    transform 0.05s;
  box-shadow: 0px 0px 0px #1e1d1d;
  transform: translate(0px, 0px);
}

@media (max-width: 385px) {
  .navLinkContainer {
    margin-left: 5px;
  }
}

.navLinkContainer:hover .navLink {
  background-color: var(--background);
}

.navLink {
  display: inline-block;
  padding: 14px;
  padding-top: 15px !important;
  cursor: pointer;
  font-size: 10pt;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  transition:
    background-color 0.25s,
    border 0.25s;
  background-color: var(--accent);
}

.forcedHover {
  background-color: var(--background);
}
